exportPattern("^[[:alpha:]]+")
importFrom("methods", "is", "new", "show")
importFrom("stats", "as.dist", "cutree", "hclust", "sd")
importFrom("utils", "write.table")
import('Matrix')
import('ggplot2')
importFrom("cowplot", "plot_grid")
S3method(print, DNB_output)
S3method(DNBplot, DNB_output)
S3method(DNBplot, data.frame)
S3method(ScoreExtract, DNB_output)
S3method(resultAllExtract, DNB_output)
S3method(getMaxRanking, DNB_output)
export(print.DNB_output)
export(ScoreExtract.DNB_output)
export(resultAllExtract.DNB_output)
export(getMaxRanking.DNB_output)
exportClasses(DNB_module)
exportClasses(DNB_res)
exportClasses(DNB_obj)
exportMethods(DNBcomputeSingle)
