exportPattern("^[[:alpha:]]+")
importFrom("methods", "is", "new", "show", "slot", "slot<-", "slotNames")
importFrom("stats", "as.dist", "cutree", "hclust", "sd", "cor", "pnorm")
importFrom("utils", "write.table", "write.csv")
importFrom("reshape2", "melt")
importFrom("Hmisc", "rcorr")
import("Matrix")
import("ggplot2")
importFrom("cowplot", "plot_grid")
S3method(print, DNB_output)
S3method(DNBplot, DNB_output)
S3method(DNBplot, data.frame)
S3method(ScoreExtract, DNB_output)
S3method(resultAllExtract, DNB_output)
S3method(getMaxRanking, DNB_output)
S3method(getModuleGenes, DNB_output)
S3method(getModuleGenes, DNB_obj)
S3method(DNBcompute_custom, DNB_output)
S3method(DNBcompute_custom, default)
export(print.DNB_output)
export(ScoreExtract.DNB_output)
export(resultAllExtract.DNB_output)
export(getMaxRanking.DNB_output)
export(getModuleGenes.DNB_output)
export(getModuleGenes.DNB_obj)
export(DNBcompute_custom.DNB_output)
export(DNBcompute_custom.default)
export(SSNcompute)
export(SSNscore_default)
export(SSNscore)
export(selectK)
exportClasses(DNB_module)
exportClasses(DNB_res)
exportClasses(DNB_obj)
exportMethods(DNBcomputeSingle)
